@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* h1{
    position: relative;
    margin-bottom:12px;
    margin-top: 12px;
    margin-left: 20px;
}
h1::before{
    background-color:brown ;
    content: "";
    position: absolute;
    left: -15px;
    width: 5px;
    height: 50px;
} */
.containerr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px 0px;
}
.containerr .boxx{
    position: relative;
    background: #fff;
    /* padding: 50px 40px 50px 40px; */
    height: 200px;
    margin-top: 21px;
    box-shadow: 0 15px 45px rgb(0 0 0 / 20%);
}
.containerr .boxx::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: brown;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.containerr .boxx:hover::before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.containerr .boxx h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.containerr .boxx:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}
.containerr .boxx h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
    padding: 0px 30px 0px 0px;
    color: #6a0a0aad;
}
.containerr .boxx p{
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    z-index: 1111;
    transition: 0.5s;
}

.containerr .boxx:hover p{
    color: #fff;
}

.containerr .boxx:hover h3{
    visibility: hidden;
}

.R-para{
    margin: 0px;
}

.imgg{
    /* background: url(/src/images/cse.jpg);
    position: absolute; */
    width: 700px;
    height: 200px;
    right: 0;
    /* filter: brightness(0.5); */
    z-index: 1111;
}