.card-cont{
    right: 50px;
    bottom: 40px;
    position: absolute;
    display: flex;
    align-items: center;
}

.card-cont::selection{
    display: none;
}


.slide-hold{
    width: 450px;
    overflow: hidden;
}

.slide{
    width: 1345px;
    z-index: 11;
    transition: 1s;
}

.card-cont button{
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.712);
    box-shadow: none;
    color: #fff;
}

.small-cont{
    border-radius: 20px;
    width: 450px;
    height: 250px;
    background-color: #bbb8c19c;
    color: black;
    padding: 15px 10px 0px 20px;
    margin: 10px;
    box-shadow: 0 0 4px #0000003d;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 19px 4px #000000a6;
}

.parts img{
    height: 160px;
    width:550px;
    margin-top: 20px;
}

.parts p{
    margin: 18px 14px 0px 14px;
    margin: 6px 14px 4px 14px;
    font-size: 15px;
}

.parts h4{
    font-weight: 700;
    font-size: 20px;
}

.parts h6{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
}

